<main class="container mt-5">
  <article class="post-list post-boxes">
    <h2 class="homepage-header">{{post.title}}</h2>
    <p>Created by: {{post.user.username}} | Date: {{format_date post.createdAt}}</p>
    <p>{{post.content}}</p>
  </article>
  
  {{#if user}}
  <form class="new-comment-form" class="mb-3" action="/comment/{{post._id}}" method="POST">
    <div class="mb-3">
      <textarea class="form-control" id="new-comment-form" name="content" rows="3" placeholder="Add a comment..." required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{else}}
  <p><a href="/login">Login</a> to leave a comment.</p>
  {{/if}}
  
  <h2>Comment History:</h2>
  {{#each post.comments }}
  <div class="comment-history m-2 p-1">
    <p>{{content}}</p>
    <p>By {{user.username}} on {{format_date createdAt}}</p>
  </div>
  {{/each}}
</main>
